.FormulaEditor {
	background-color: white;
  width: 100%;
  input {
    border: 0;
    outline: 0;
    height: 34px;
    color: black;
    background-color: transparent!important;
  }
  .placeholderInput, .mainInput {
  	position: absolute;
  	left: 0; 
  	top: 0;
  }
  .placeholderInput {
  	-webkit-text-fill-color : silver;
  	z-index: 0; 
  }
  .mainInput {
  	z-index: 10;
  }
  .currentFormulaHighlighter {
  	b {
  		color: #306E12;
  	}
  	text-align: left;
  	padding: 5px;
  }
}

